doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Woody JS Sample
        script(src="woody.js")
        script(src="gen-js-damsel/domain_config_types.js")
        script(src="gen-js-damsel/Repository.js")
        script(src="gen-js-damsel/RepositoryClient.js")
        script(src="client.js")
    body